name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 1 * *"

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  lint:
    uses: ./.github/workflows/lint.yaml

  rust:
    uses: ./.github/workflows/rust.yaml
    with:
      rust_toolchain: "1.89.0"

  rust-stable:
    uses: ./.github/workflows/rust.yaml
    with:
      rust_toolchain: "stable"

  deploy-docs:
    uses: ./.github/workflows/deploy_docs.yaml
    with:
      rust_toolchain: "stable"
