name: Deploy doc

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  deploydocs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: 1.93.0
      - name: Build docs
        run: cargo doc --release --workspace --all-features --no-deps --verbose
      - name: Add redirect index.html
        run: echo '<meta http-equiv="refresh" content="0; url=reprol/">' > target/doc/index.html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
